.exam-page {
    padding-top: 20px;
    position: relative;
}

/*练习列表*/
.exam-page .exam-lists {
    padding-top: 20px;
}

.exam-page .exam-list-view .view{
    position: relative;
    padding: 20px;
    margin-bottom: 30px;
    transform: none;
}

.exam-page .exam-list-view .view:hover .view-header .pull-right .iconfont {
    color: #979faf;
}

.exam-page .exam-list-view .view-header * {
    line-height: 34px;
}

.exam-page .exam-list-view .view-header .iconfont {
    color: #e0e4e8;
    cursor: pointer;
    font-size: 20px;
    margin-left: 10px;
}

.exam-page .exam-list-view .view-notice > * {
    color: #979faf;
    margin-left: 20px;
    font-weight: 600;
    font-size: 15px;
}

.exam-page .view-header .title .glyphicon {
    font-size: 14px;
    color: #e0e4e8;
}

.exam-page .view-header .title .glyphicon.active {
    color: #EBBC2A;
}

.exam-page .view-header .pull-right .glyphicon:hover {
    color: #39424e;
}

.exam-page .exam-lists .exam-list-view h3 {
    font-size: 20px;
    margin: 0;
}

.exam-page .exam-lists .exam-list-view h3 a {
    color: #2ec866;
}

.exam-page .view-middle .tips {
    margin-top: 10px;
    margin-bottom: 10px;
    font-weight: 600;
}

.exam-page .view-middle .tips > .tip {
    color: #979faf;
    padding: 10px 0;
}

.exam-page .exam-score {
    font-size: 16px;
    line-height: 42px;
    font-weight: 600;
    color: #979faf
}

.exam-page .exam-score > span {
    color: #f34e4e;
    font-size: 22px;
}

.exam-page .view-bottom .start-btn {
    width: 145px;
    padding: 10px 15px;
    color: #fff;
    font-weight: 600;
    border-color: #088837;
    border-bottom-color: #007827;
    background-color: #29b35b;
    background-image: -webkit-gradient(linear, top left, bottom left, color-stop(0, #2ec866), color-stop(1, #29b35b));
    background-image: -webkit-linear-gradient(top, #2ec866, #29b35b);
    background-image: linear-gradient(to bottom, #2ec866, #29b35b);
    box-shadow: 0 1px 3px rgba(0,0,0,0.2), inset 0 1px 1px rgba(255,255,255,0.1), inset 0 -1px 4px rgba(32,138,70,0.3);
}

.sign {
    position: absolute;
    right: 20px;
    top: 15px;
    height: 44px;
    width: 60px;
    text-align: center;
    line-height: 44px;
    color: #fff;
    font-weight: 700;
    font-size: 16px;
    background-image: linear-gradient(to bottom, #d2d2d2, #b9b8b8);
    box-shadow: 0 1px 3px rgba(0,0,0,0.2), inset 0 1px 1px rgba(255,255,255,0.1), inset 0 -1px 4px rgba(32,138,70,0.3);
}

/*无数据时样式*/
.no-data-tip.iconfont {
    position: absolute;
    width: 100%;
    top: 50%;
    margin-top: -75px;
}