
@{
    ViewBag.Title = "Java";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<link href="~/css/default.css" rel="stylesheet" />
<div class="cplus-course-page container-box center">
    <div class="catalogue-btn text-center fillet">目录</div>
    <div class="row">
        <!-- 左侧选项卡-S -->
        <div class="slide col-lg-3 col-md-3 col-sm-3">
            <h3 class="green">Java 教程</h3>
            <div class="slide-lists">
                <ul>
                    <li>
                        <a href="#tutorial" data-name="tutorial.html">
                            Java 教程
                        </a>
                    </li>
                    <li>
                        <a href="#intro" data-name="intro.html">
                            Java 简介
                        </a>
                    </li>
                    <li>
                        <a href="#environmentSetup" data-name="environmentSetup.html">
                            Java 开发环境配置
                        </a>
                    </li>
                    <li>
                        <a href="#basicSyntax" data-name="programStructure.html">
                            java 基础语法
                        </a>
                    </li>
                    <li>
                        <a href="#objectClasses" data-name="objectClasses.html">
                            java 对象和类
                        </a>
                    </li>
                    <li>
                        <a href="#basicDatatypes" data-name="basicDatatypes.html">
                            Java 基本数据类型
                        </a>
                    </li>
                    <li>
                        <a href="#variableTypes" data-name="dataTypes.html">
                            Java 变量类型
                        </a>
                    </li>
                    <li>
                        <a href="#modifierTypes" data-name="modifierTypes.html">
                            Java 修饰符
                        </a>
                    </li>
                    <li>
                        <a href="#operators" data-name="operators.html">
                            Java 运算符
                        </a>
                    </li>
                    <li>
                        <a href="#loop" data-name="loop.html">
                            Java 循环结构
                        </a>
                    </li>

                    <li>
                        <a href="#ifElseSwitch" data-name="ifElseSwitch.html">
                            Java 分支结构
                        </a>
                    </li>
                    <li>
                        <a href="#number" data-name="number.html">
                            Java Number & Math 类
                        </a>
                    </li>
                    <li>
                        <a href="#character" data-name="character.html">
                            Java Character 类
                        </a>
                    </li>
                    <li>
                        <a href="#string" data-name="functions.html">
                            Java String 类
                        </a>
                    </li>
                    <li>
                        <a href="#stringbuffer" data-name="stringbuffer.html">
                            Java StringBuffer
                        </a>
                    </li>
                    <li>
                        <a href="#array" data-name="array.html">
                            Java 数组
                        </a>
                    </li>
                    <li>
                        <a href="#dateTime" data-name="dateTime.html">
                            Java 日期时间
                        </a>
                    </li>
                    <li>
                        <a href="#regularExpressions" data-name="regularExpressions.html">
                            Java 正则表达式
                        </a>
                    </li>
                    <li>
                        <a href="#methods" data-name="methods.html">
                            Java 方法
                        </a>
                    </li>
                    <li>
                        <a href="#filesIo" data-name="filesIo.html">
                            Java Stream、File、IO
                        </a>
                    </li>
                    <li>
                        <a href="#scannerClass" data-name="scannerClass.html">
                            Java Scanner 类
                        </a>
                    </li>
                    <li>
                        <a href="#exceptions" data-name="exceptions.html">
                            Java 异常处理
                        </a>
                    </li>
                </ul>
            </div>
            <h3 class="green">Java 面向对象</h3>
            <div class="slide-lists">
                <ul>
                    <li>
                        <a href="#inheritance" data-name="inheritance.html">
                            Java 继承
                        </a>
                    </li>
                    <li>
                        <a href="#overrideOverload" data-name="overrideOverload.html">
                            Java 重写(Override)与重载(Overload)
                        </a>
                    </li>
                    <li>
                        <a href="#polymorphism" data-name="polymorphism.html">
                            Java 多态
                        </a>
                    </li>
                    <li>
                        <a href="#abstraction" data-name="abstraction.html">
                            Java 抽象类
                        </a>
                    </li>
                    <li>
                        <a href="#encapsulation" data-name="encapsulation.html">
                            Java 封装
                        </a>
                    </li>
                    <li>
                        <a href="#interfaces" data-name="interfaces.html">
                            Java 接口
                        </a>
                    </li>
                    <li>
                        <a href="#package" data-name="package.html">
                            Java 包(package)
                        </a>
                    </li>
                </ul>
            </div>
            <h3 class="green">Java 高级教程</h3>
            <div class="slide-lists">
                <ul>
                    <li>
                        <a href="#dataStructures" data-name="dataStructures.html">
                            Java 数据结构
                        </a>
                    </li>
                    <li>
                        <a href="#collections" data-name="collections.html">
                            Java 集合框架
                        </a>
                    </li>
                    <li>
                        <a href="#generics" data-name="generics.html">
                            Java 泛型
                        </a>
                    </li>
                    <li>
                        <a href="#serialization" data-name="serialization.html">
                            Java 序列化
                        </a>
                    </li>
                    <li>
                        <a href="#networking" data-name="networking.html">
                            Java 网络编程
                        </a>
                    </li>
                    <li>
                        <a href="#sendEmail" data-name="sendEmail.html">
                            Java 发送邮件
                        </a>
                    </li>
                    <li>
                        <a href="#multithreading" data-name="multithreading.html">
                            Java 多线程编程
                        </a>
                    </li>
                    <li>
                        <a href="#appletBasics" data-name="appletBasics.html">
                            Java Applet 基础
                        </a>
                    </li>
                    <li>
                        <a href="#documentation" data-name="documentation.html">
                            Java 文档注释
                        </a>
                    </li>
                    <li>
                        <a href="#java8NewFeatures" data-name="documentation.html">
                            Java 8 新特性
                        </a>
                    </li>
                    <li>
                        <a href="#mysqlConnect" data-name="documentation.html">
                            Java MySQL 连接
                        </a>
                    </li>
                </ul>
            </div>
        </div>
        <!-- 左侧选项卡-E -->
        <!-- 右侧内容-S -->
        <div class="tab-content col-lg-9 col-md-9 col-sm-9 col-xs-12">

        </div>
        <!-- 右侧内容-E -->
    </div>
</div>
<script type="text/javascript" src="~/Scripts/jquery-3.2.1.js"></script>
<script type="text/javascript" src="~/Scripts/highlight/highlight.pack.js"></script>
<script type="text/javascript" src="~/js/main.js"></script>
<script type="text/javascript">
		$(function(){

			var leftItem = $('.slide-lists a'),
				slide = $('.slide'),
				slideList = $('.slide-lists'),
				btn = $('.catalogue-btn'),
				content = $('.tab-content');

			setSlideList(slide, btn);

			// 监听刷新后改变状态
			window.onload = function(e){
				window.location.hash = "tutorial";
			}

			// 初始化
            getPage('/Content/java/page/tutorial.html', '#tutorial' );

			//监听url地址栏hash值改变的事件
			window.onhashchange = function(e){
				hash = e.target.location.hash;
                url = '/Content/java/page/' + hash.slice(1) + ".html"
				getPage(url,hash);
			}

			//设置左栏选定状态方法
			function setActive (hash){
				leftItem.each(function(index,value){
					var obj = $(value);
					obj.parent('li').removeClass('active');
					if(obj.attr('href') == hash){
						obj.parent('li').addClass('active').siblings().removeClass('active');
					}
				})
			}

			// 设置高亮方法
			function setHighLinght(){
				hljs.initHighlighting.called = false;
				hljs.initHighlighting();
			}

			//ajax请求数据
			function getPage(url,hash) {
				$.ajax({
					method: 'GET',
					url: url,
					success: function(data){
						setActive(hash);
						content.html(data);
						setHighLinght();
						$(window).scrollTop(0);
					}
				})
			}

		})
</script>

