@{
    ViewBag.Title = "Python3";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

	<div class="cplus-course-page container-box center">
		<div class="catalogue-btn text-center fillet">目录</div>
		<div class="row">
			<!-- 左侧选项卡-S -->
			<div class="slide col-lg-3 col-md-3 col-sm-3">
				<h3 class="green">Python3 教程</h3>
				<div class="slide-lists">
					<ul>
						<li>
							<a href="#tutorial" data-name="tutorial.html">
								Python3 教程
							</a>
						</li>
						<li>
							<a href="#basicSyntax" data-name="basicSyntax.html">
								Python3 基础语法
							</a>
						</li>
						<li>
							<a href="#dataType" data-name="dataType.html">
								Python3 基本数据类型
							</a>
						</li>
						<li>
							<a href="#interpreter" data-name="interpreter.html">
								Python3 解释器
							</a>
						</li>
						<li>
							<a href="#comment" data-name="comment.html">
								Python3 注释
							</a>
						</li>
						<li>
							<a href="#operators" data-name="operators.html">
								Python3 运算符
							</a>
						</li>
						<li>
							<a href="#number" data-name="number.html">
								Python3 数字(Number)
							</a>
						</li>
						<li>
							<a href="#string" data-name="string.html">
								Python3 字符串
							</a>
						</li>
						<li>
							<a href="#list" data-name="list.html">
								Python3 列表
							</a>
						</li>
						<li>
							<a href="#tuple" data-name="tuple.html">
								Python3 元组
							</a>
						</li>
						<li>
							<a href="#dictionary" data-name="dictionary.html">
								Python3 字典
							</a>
						</li>
						<li>
							<a href="#step1" data-name="step1.html">
								Python3 编程第一步
							</a>
						</li>
						<li>
							<a href="#conditionalStatements" data-name="conditionalStatements.html">
								Python3 条件控制
							</a>
						</li>
						<li>
							<a href="#loop" data-name="loop.html">
								Python3 循环语句
							</a>
						</li>
						<li>
							<a href="#iteratorGenerator" data-name="iteratorGenerator.html">
								Python3 迭代器与生成器
							</a>
						</li>
						<li>
							<a href="#function" data-name="function.html">
								Python3 函数
							</a>
						</li>
						<li>
							<a href="#dataStructure" data-name="dataStructure.html">
								Python3 数据结构
							</a>
						</li>
						<li>
							<a href="#module" data-name="module.html">
								Python3 模块
							</a>
						</li>
						<li>
							<a href="#inputOutput" data-name="inputOutput.html">
								Python3 输入和输出
							</a>
						</li>
						<li>
							<a href="#fileMethods" data-name="fileMethods.html">
								Python3 File
							</a>
						</li>
						<li>
							<a href="#osFileMethods" data-name="osFileMethods.html">
								Python3 OS
							</a>
						</li>
						<li>
							<a href="#errorsExecptions" data-name="errorsExecptions.html">
								Python3 错误和异常
							</a>
						</li>
						<li>
							<a href="#class" data-name="class.html">
								Python3 面向对象
							</a>
						</li>
						<li>
							<a href="#stdlib" data-name="stdlib.html">
								Python3 标准库概览
							</a>
						</li>
						<li>
							<a href="#regExpressions" data-name="regExpressions.html">
								Python3 正则表达式
							</a>
						</li>
						<li>
							<a href="#cgiProgramming" data-name="cgiProgramming.html">
								Python3 CGI编程
							</a>
						</li>
						<li>
							<a href="#mysql" data-name="mysql.html">
								Python3 MySQL 数据库连接
							</a>
						</li>
						<li>
							<a href="#socket" data-name="socket.html">
								Python3 网络编程
							</a>
						</li>
						<li>
							<a href="#smtp" data-name="smtp.html">
								Python3 SMTP发送邮件
							</a>
						</li>
						<li>
							<a href="#multithreading" data-name="multithreading.html">
								Python3 多线程
							</a>
						</li>
						<li>
							<a href="#xmlProcessing" data-name="xmlProcessing.html">
								Python3 XML解析
							</a>
						</li>
						<li>
							<a href="#json" data-name="json.html">
								Python3 JSON
							</a>
						</li>
						<li>
							<a href="#dateTime" data-name="dateTime.html">
								Python3 日期和时间
							</a>
						</li>
						<li>
							<a href="#builtInFunctions" data-name="builtInFunctions.html">
								Python3 内置函数
							</a>
						</li>
						<li>
							<a href="#funcRange" data-name="funcRange.html">
								Python3 range()函数用法
							</a>
						</li>
					</ul>
				</div>
			</div>
			<!-- 左侧选项卡-E -->
			<!-- 右侧内容-S -->
			<div class="tab-content col-lg-9 col-md-9 col-sm-9 col-xs-12">

			</div>
			<!-- 右侧内容-E -->
		</div>
	</div>
<script type="text/javascript" src="~/Scripts/jquery-3.2.1.js"></script>
<script type="text/javascript" src="~/Scripts/highlight/highlight.pack.js"></script>
<script type="text/javascript" src="~/js/main.js"></script>
	<script type="text/javascript">
		$(function(){

			var leftItem = $('.slide-lists a'),
				slide = $('.slide'),
				slideList = $('.slide-lists'),
				btn = $('.catalogue-btn'),
				content = $('.tab-content');

			setSlideList(slide, btn);

			// 监听刷新后改变状态
			window.onload = function(e){
				window.location.hash = "tutorial";
			}

			// 初始化
			getPage('/Content/python3/page/tutorial.html', '#tutorial' );

			//监听url地址栏hash值改变的事件
			window.onhashchange = function(e){
				hash = e.target.location.hash;
                url = '/Content/python3/page/' + hash.slice(1) + ".html"
				getPage(url,hash);
			}

			//设置左栏选定状态方法
			function setActive (hash){
				leftItem.each(function(index,value){
					var obj = $(value);
					obj.parent('li').removeClass('active');
					if(obj.attr('href') == hash){
						obj.parent('li').addClass('active').siblings().removeClass('active');
					}
				})
			}

			// 设置高亮方法
			function setHighLinght(){
				hljs.initHighlighting.called = false;
				hljs.initHighlighting();
			}

			//ajax请求数据
			function getPage(url,hash) {
				$.ajax({
					method: 'GET',
					url: url,
					success: function(data){
						setActive(hash);
						content.html(data);
						setHighLinght();
						$(window).scrollTop(0);
					}
				})
			}

		})
	</script>
